@inject ISettingsService _settings

<h4>Default AI Connection</h4>
<hr />

<ConnectionSelector @bind-Value="@_model.DefaultConnectionId" @bind-Value:after="OnValueChanged"></ConnectionSelector>

@code {
    private WindowOptions _model = default!;
    protected override void OnInitialized()
    {
        _model = _settings.Read<WindowOptions>(WindowOptions.Key) ?? new WindowOptions();
    }

    private void OnValueChanged()
    {
        _settings.Save<WindowOptions>(WindowOptions.Key, _model);
    }
}