@page "/"

<div class="h-100 row m-0">
    <div class="col-md-8 m-auto">

        <div class="text-center">
            <img src="images/rene_f.png" height="200" />
        </div>

        <p class="lead text-center">How can I help you?</p>

        <div class="d-flex flex-row p-2 rounded-pill border border-primary">
            <textarea @bind="_input" class="form-control rounded-pill border-0 me-1"
                      @ref="_area"
                      rows="1"
                      @oninput="AutoGrow" @onkeydown="ComposerKeyDown"></textarea>

            <div class="ms-2 justify-content-center align-self-center">
                <button type="button" class="btn btn-sm btn-primary rounded-pill" @onclick="Send"><i class="bi bi-arrow-up"></i></button>
            </div>
        </div>
    </div>
</div>