<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Define the sources NuGet will query. -->
  <packageSources>
    <!-- Remove any machine‑ or user‑level sources so the file is deterministic -->
    <clear />
    <!-- Official NuGet.org v3 feed -->
    <add key="nuget.org"
         value="https://api.nuget.org/v3/index.json"
         protocolVersion="3" />
    <add key="Cyrena"
       value=".\sdk" />
  </packageSources>
</configuration>
