
<EditForm EditContext="_context">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Title</label>
        <InputText @bind-Value="Model.Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Summary</label>
        <InputTextArea @bind-Value="Model.Summary" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Keywords</label>
        <InputText @bind-Value="_keywords" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Link</label>
        <InputText @bind-Value="Model.Link" class="form-control" />
        <p class="small m-0">
            <span class="text-danger">*</span> If documentation is online at a specific URL.
        </p>
    </div>

    <div class="mb-3">
        <label class="form-label">Content</label>
        <Cyrena.Components.Shared.CodeInput Language="markdown" @bind-Value="Model.Content"/>
    </div>
</EditForm>