@inherits KernelComponentBase

<Tooltip Title="Export Chat">
    <button type="button" @onclick="ExportChatAsync" class="btn btn-sm btn-info rounded-pill"><i class="bi bi-box-arrow-down"></i></button>
</Tooltip>