<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <BootstrapBlazorRoot>
            <RouteView RouteData="routeData" DefaultLayout="typeof(ZeroLayout)" />
        </BootstrapBlazorRoot>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(ZeroLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>