@inherits DevelopComponentBase

@using BlazorMonaco
@using BlazorMonaco.Editor
@using BlazorMonaco.Languages

<div class="monaco-host">
    <StandaloneCodeEditor Id="@File.Id" ConstructionOptions="EditorConstructionOptions" />
</div>