@using Cyrena.Components.Shared

<EditForm EditContext="_context">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Title</label>
        <InputText @bind-Value="_model.Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">.ini File</label>
        <div class="input-group">
            <InputText @bind-Value="_model.IniFilePath" class="form-control" />
            <button class="btn btn-outline-secondary" type="button" @onclick="PickProject"><i class="bi bi-folder-symlink"></i></button>
        </div>
    </div>

    <ConnectionSelector @bind-Value="_model.ConnectionId" />
</EditForm>