@page "/develop/{Id}"

@if (_context != null)
{
    <CascadingValue Name="IDeveloperWindow" TValue="Cyrena.Contracts.IDeveloperWindow" Value="this">
        <Layout IsFullSide="true" 
                ShowFooter="false" 
                SideWidth="0" 
                ShowCollapseBar="true"
                IsFixedHeader="true"
                SidebarMinWidth="200" 
                SidebarMaxWidth="350"
                AdditionalAssemblies="new[] { GetType().Assembly }"
                IsPage="true"
                Menus="_menuItems"
                OnClickMenu="MenuItemClick"
                MenuBarIcon="bi bi-three-dots-vertical"
                ShowSplitBar="true">
            <Header>
                <span class="ms-3 flex-sm-fill d-none d-sm-block">Cyréna</span>

                <button type="button" class="btn btn-sm btn-info" @onclick="() => _articles.Toggle()"><i class="bi bi-file-earmark-text"></i></button>
            </Header>
            <Side>
                <div class="layout-banner">
                    <div class="layout-title">
                        <span>Files</span>
                    </div>
                </div>
            </Side>

            <Main>
                <div class="row m-0 mh-100 h-100">
                    <div class="@(_openFiles.Any() ? "col-md-4" : "col-md-12") p-0 mh-100 h-100">
                        <Cyrena.Components.Shared.Chat Context="_context">
                        </Cyrena.Components.Shared.Chat>
                    </div>
                    @if (_openFiles.Count > 0)
                    {
                        <div class="col-md-8 p-0 cc-tabs">
                            <Tab OnCloseTabItemAsync="OnTabClose" ShowClose="true" TabStyle="TabStyle.Chrome"
                                 AllowDrag="true"
                                 ShowToolbar="true"
                                 AdditionalAttributes="@(new Dictionary<string, object>() { { "style","height:100%"} })"
                                 ShowExtendButtons="true">
                                @foreach (var item in _openFiles)
                                {
                                    <TabItem Text="@item.Name" Id="@item.Name">
                                        <Cyrena.Components.Shared.CodeEditor Context="_context" File="item" />
                                    </TabItem>
                                }
                            </Tab>
                        </div>
                    }
                </div>

                <Cyrena.Spec.Components.Shared.ArticleViewer @ref="_articles" Context="_context"/>
            </Main>
        </Layout>
       
    </CascadingValue>
}